In [1]:
# import libraries
import pandas as pd
import pathlib
import glob

In [2]:
# path
base = pathlib.Path(r'C:\Users\ahmedk40\OneDrive - London South Bank University\Data Science Graduate\ONS\final_exercise')
datasets = base/'datasets'

In [3]:
# files
files = [dataset for dataset in datasets.iterdir()]
files

[WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/cddataset.xlsx'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/consumerpriceinflationdetailedreferencetables.xlsx'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Annual_CPIH_and_CPI_inflation_rates_continue_to_ease_in_April_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Average_UK_house_price_annual_percentage_change_was_4.1%_in_the_12_months_to_March_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Restaurants_and_hotels_have_the_highest_energy_intensity_at_the_CPI_division_level,_if_we_exclude_those_that_include_the_direct_effects_of_energy.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_4__Housing_and_household_services_have_been_the_biggest_driver_of_inflation_through_most_of_the_period_since_1989.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_6__UK_energy_price_inflation_was_the_highest_across_major_advanced_economies_in_March_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/mm23.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/processed')]

In [4]:
# CSV files
csv_files = [csv_file for csv_file in datasets.glob('*.csv')]
csv_files

[WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Annual_CPIH_and_CPI_inflation_rates_continue_to_ease_in_April_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Average_UK_house_price_annual_percentage_change_was_4.1%_in_the_12_months_to_March_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_1__Restaurants_and_hotels_have_the_highest_energy_intensity_at_the_CPI_division_level,_if_we_exclude_those_that_include_the_direct_effects_of_energy.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_4__Housing_and_household_services_have_been_the_biggest_driver_of_inflation_through_most_of_the_period_since_1989.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/Figure_6__UK_energy_price_inflation_was_the_highest_across_major_advanced_economies_in_March_2023.csv'),
 WindowsPath('C:/Users/ahmedk40/OneDrive - London South Bank University/Data Science Graduate/ONS/final_exercise/datasets/mm23.csv')]

In [5]:
# energy inflation df
df_energy = pd.read_csv(csv_files[4], index_col=[0], header=6, parse_dates=[0], infer_datetime_format=True)
df_energy

            Canada  France  Germany  Italy  Japan    UK    US
2018-01-01     2.4     5.1      0.8    4.5    6.7   4.3   5.5
2018-02-01     5.3     5.1      0.1    3.6    7.1   3.6   7.7
2018-03-01     7.5     4.8      0.3    3.1    5.7   3.3   7.0
2018-04-01     6.3     6.0      1.2    0.8    5.3   4.4   7.9
2018-05-01    11.6     9.7      4.7    2.1    5.6   5.7  11.7
...            ...     ...      ...    ...    ...   ...   ...
2022-11-01    13.9    18.8     32.6   67.6   13.4  55.6  13.1
2022-12-01     7.3    15.2     21.4   64.7   15.2  52.8   7.3
2023-01-01     5.4    16.3     24.0   42.5   14.6  51.2   8.7
2023-02-01    -0.6    14.0     20.0   28.2   -0.7  49.0   5.2
2023-03-01    -6.9     5.2      5.0   10.7   -3.8  40.5  -6.4

[63 rows x 7 columns]

In [6]:
# cpi inflation df
df_cpi = pd.read_csv(csv_files[0], index_col=[0], header=6, parse_dates=[0], infer_datetime_format=True)
df_cpi

            CPIH   CPI  OOH
2013-04-01   2.2   2.4  1.5
2013-05-01   2.4   2.7  1.5
2013-06-01   2.6   2.9  1.4
2013-07-01   2.5   2.8  1.5
2013-08-01   2.4   2.7  1.4
...          ...   ...  ...
2022-12-01   9.2  10.5  3.8
2023-01-01   8.8  10.1  3.8
2023-02-01   9.2  10.4  3.9
2023-03-01   8.9  10.1  4.0
2023-04-01   7.8   8.7  4.0

[121 rows x 3 columns]

In [7]:
# housing inflation df
df_housing = pd.read_csv(csv_files[1], index_col=[0], header=6, parse_dates=[0], infer_datetime_format=True)
df_housing

            12 month percentage change
2006-01-01                          6.2
2006-02-01                          6.5
2006-03-01                          6.5
2006-04-01                          7.3
2006-05-01                          7.1
...                                 ...
2022-11-01                          9.4
2022-12-01                          8.7
2023-01-01                          5.9
2023-02-01                          5.8
2023-03-01                          4.1

[207 rows x 1 columns]

In [8]:
# concatenate all dfs
df_all = pd.concat([df_energy, df_cpi, df_housing], axis=1)
df_all

,Canada,France,Germany,Italy,Japan,UK,US,CPIH,CPI,OOH,12 month percentage change
2006-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2
2006-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5
2006-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5
2006-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.3
2006-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-01,7.3,15.2,21.4,64.7,15.2,52.8,7.3,9.2,10.5,3.8,8.7
2023-01-01,5.4,16.3,24.0,42.5,14.6,51.2,8.7,8.8,10.1,3.8,5.9
2023-02-01,-0.6,14.0,20.0,28.2,-0.7,49.0,5.2,9.2,10.4,3.9,5.8
2023-03-01,-6.9,5.2,5.0,10.7,-3.8,40.5,-6.4,8.9,10.1,4.0,4.1
2023-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8,8.7,4.0,NaN

In [9]:
# drop na values
df_all.dropna(axis=0, inplace=True)
df_all

,Canada,France,Germany,Italy,Japan,UK,US,CPIH,CPI,OOH,12 month percentage change
2018-01-01,2.4,5.1,0.8,4.5,6.7,4.3,5.5,2.7,3.0,1.2,4.3
2018-02-01,5.3,5.1,0.1,3.6,7.1,3.6,7.7,2.5,2.7,1.2,4.4
2018-03-01,7.5,4.8,0.3,3.1,5.7,3.3,7.0,2.3,2.5,1.2,4.0
2018-04-01,6.3,6.0,1.2,0.8,5.3,4.4,7.9,2.2,2.4,1.2,3.3
2018-05-01,11.6,9.7,4.7,2.1,5.6,5.7,11.7,2.3,2.4,1.1,3.1
...,...,...,...,...,...,...,...,...,...,...,...
2022-11-01,13.9,18.8,32.6,67.6,13.4,55.6,13.1,9.3,10.7,3.7,9.4
2022-12-01,7.3,15.2,21.4,64.7,15.2,52.8,7.3,9.2,10.5,3.8,8.7
2023-01-01,5.4,16.3,24.0,42.5,14.6,51.2,8.7,8.8,10.1,3.8,5.9
2023-02-01,-0.6,14.0,20.0,28.2,-0.7,49.0,5.2,9.2,10.4,3.9,5.8
2023-03-01,-6.9,5.2,5.0,10.7,-3.8,40.5,-6.4,8.9,10.1,4.0,4.1

In [10]:
# chek na
df_all.isna().sum()

Canada                         0
France                         0
Germany                        0
Italy                          0
Japan                          0
UK                             0
US                             0
CPIH                           0
CPI                            0
OOH                            0
12 month percentage change     0
dtype: int64

In [11]:
# all columns
df_all.columns.tolist()

['Canada',
 'France',
 'Germany',
 'Italy',
 'Japan',
 'UK',
 'US',
 'CPIH',
 'CPI',
 'OOH',
 '12 month percentage change ']

In [12]:
# cleaning, only uk relevant data
df_uk = df_all.drop(columns=['Canada','France','Germany','Italy','Japan','US'])
df_uk.rename(columns={'UK': 'EPI', '12 month percentage change ': 'HPI'}, inplace=True) # EPI: ENERGY_PRICE_INFLATION 
df_uk                                                                                   # HPI: HOUSING_PRICE_INFLATION

             EPI  CPIH   CPI  OOH  HPI
2018-01-01   4.3   2.7   3.0  1.2  4.3
2018-02-01   3.6   2.5   2.7  1.2  4.4
2018-03-01   3.3   2.3   2.5  1.2  4.0
2018-04-01   4.4   2.2   2.4  1.2  3.3
2018-05-01   5.7   2.3   2.4  1.1  3.1
...          ...   ...   ...  ...  ...
2022-11-01  55.6   9.3  10.7  3.7  9.4
2022-12-01  52.8   9.2  10.5  3.8  8.7
2023-01-01  51.2   8.8  10.1  3.8  5.9
2023-02-01  49.0   9.2  10.4  3.9  5.8
2023-03-01  40.5   8.9  10.1  4.0  4.1

[63 rows x 5 columns]

In [13]:
# export
df_uk.to_csv(datasets/'processed/energy_cpi_housing_processed.csv')